/* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

.inherited-styles-for-exported-element {
    color: #333;
    font-family: CerebriSans-Regular, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    font-size: 100%;
  }
  
  footer {
    background-color: rgba(0, 0, 0, .08);
    box-sizing: border-box;
    left: 0;
    padding: 10% 7%;
    position: absolute;
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    footer {
      padding: 5rem 3rem;
    }
  }
  
  /* .inner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 60em;
  }
  
  @media screen and (min-width: 768px) {
    .inner {
      flex-direction: row;
    }
  }
  
  .inner ul {
    list-style: none;
    margin: 1em 0;
    padding: 0;
  }
  
  .inner a {
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
  }
  
  .inner li {
    color: #afb2b8;
    margin-bottom: .5em;
  }
  
  @media screen and (min-width: 768px) {
    .inner ul {
      flex: 1;
      margin: 0 2em;
    }
  }
  
  .inner ul p {
    color: #333;
    margin-top: 0;
  }
  
  .inner>:first-child {
    margin-bottom: 1.5em;
    margin-right: 0;
  }
  
  @media screen and (min-width: 768px) {
    .inner>:first-child {
      display: block;
      margin-right: 3em;
      text-align: center;
    }
  }
  
  .inner>:first-child img {
    width: 40px;
  }
  
  .inner>:first-child p {
    color: rgba(0, 0, 0, .5);
    font-size: .7em;
    margin-bottom: 0;
  }
  
  .inner a:hover {
    text-decoration: underline;
  }
  
  @media screen and (min-width: 768px) {
    .inner>:first-child img {
      width: 70px;
    }
  }
   */